body {
    margin: 0;
}

#widget-container {
    height: auto;
    overflow: hidden;
    width: 100%;
    padding-top: 2px;
    position: relative;
}

    #widget-container:focus-within {
        background-color: #f3f3fd;
    }

.restinput {
    background: white;
    border-color: #b8bdc9;
    outline: none;
    color: #2c3345;
    font-size: 1em;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    display: block;
    font-family: inherit;
    padding: 0.625em 1.875em 0.625em 0.625em;
    max-width: 100%;
    margin-bottom: 4px;
}

    .restinput:hover {
        border-width: 2px;
        border-color: #0099ff;
        -webkit-box-shadow: 0 0 4px 4px rgba(44, 105, 255, 0.25);
        -moz-box-shadow: 0 0 4px 4px rgba(44, 105, 255, 0.25);
        box-shadow: 0 0 4px 4px rgba(44, 105, 255, 0.25);
    }

    .restinput:focus {
        border-width: 2px;
        border-color: #0099ff;
        -webkit-box-shadow: 0 0 4px 4px rgba(44, 105, 255, 0.25);
        -moz-box-shadow: 0 0 4px 4px rgba(44, 105, 255, 0.25);
        box-shadow: 0 0 4px 4px rgba(44, 105, 255, 0.25);
    }

#otherinput {

}

#message {
    margin: 0.625em 0 0.625em 0.625em
}

#waiter {
    position: absolute;
    top: 0.4em;
    left: 0.4em;
    height: 2em;
    width: auto;
    display: none;
}
